@font-face {
	font-family: 'm5x7';
	src: url('../fonts/m5x7.ttf');
}

@font-face {
	font-family: 'Round9x13';
	src: url('../fonts/Round9x13.ttf');
}

#font-preload {
	visibility: hidden;
	height: 1px;
}

body {
	background-color: #333333;
	padding: 0;
	margin: 0;
}

